nav {
  position: absolute;
  z-index: 1;
}

nav a {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px #000000;
  display: inline-block;
  height: 16px;
  padding: 2px 8px 8px;
  margin: 8px 0px 0;
  text-decoration: none;
}

nav a.selected {
  color: #ffffff;
}

nav a.more-info {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  background-color: #0044ff44;
  border-radius: 16px;
  text-shadow: none;
  margin: 8px 8px 0;
  top: -1px;
}

nav a:hover {
  text-decoration: underline;
}

nav a.more-info:hover {
  text-decoration: none;
  background-color: #0044ff88;
}

.submenu {
  position: absolute;
  top: 32px;
  left: 104px;
  z-index: 1;
}
