nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  max-height: calc(100% - 32px);
  overflow-y: auto;
  margin: 8px;
  border-radius: 8px;
  padding: 8px;
}

nav a {
  display: block;
  color: #a0a0a0;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 1px #000000;
  height: 16px;
  padding: 2px 8px 8px;
  text-decoration: none;
  border-radius: 8px;
}

nav a.selected {
  color: #ffffff;
}

nav a.more-info {
  color: #ffffff;
  font-size: 13px;
  background-color: #4488cc;
  border-radius: 16px;
  text-shadow: none;
  margin-bottom: 8px;
  text-align: center;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav a.more-info:hover {
  text-decoration: none;
  background-color: #66aaee;
}

.submenu {
  margin-left: 8px;
  margin-bottom: 8px;
}
