#root {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

#textureset__preview {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

#textureset__preview > .texture {
  height: 136px;
  bottom: 72px;
  overflow-x: auto;
}
#textureset__preview > .texture > canvas {
  height: 128px;
  margin: 4px 4px 0;
}

#textureset__preview > .layer {
  height: 72px;
  bottom: 0;
  overflow-x: auto;
}
#textureset__preview > .layer > canvas {
  height: 64px;
  margin: 4px 4px 0;
}

#textureset__preview.show {
  display: block !important;
}
